[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
moment = "*"
munch = "*"
google-cloud-pubsub = "*"
mementos = "*"
python-dotenv = "*"

[dev-packages]
ptpython = "*"
autopep8 = "*"
pylint = "*"

[requires]
python_version = "3.7"
